:root {
  --light-blue: #78c8ed;
  --dark-blue: #1783b5;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  position: relative;
  margin-bottom: 3%;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.toggle {
  position: absolute;
  width: 250px;
  height: 250px;
  background: #fff url("../../images/me.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  transition: transform 1.25s;
  border: 4px solid var(--dark-blue);
}

.menu li {
  position: absolute;
  left: -113%;
  transform-origin: 400px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(100px);
}

.action {
  position: absolute;
  bottom: -45px;
  color: #fff;
  background: var(--dark-blue);
  border: 1px solid #78c8ed;
  border-radius: 15px;
  padding: 5px 15px;
  text-align: center;
  width: 100%;
}

.menu.active li {
  transform: rotate(calc(360deg / 7 * var(--i)));
}

.menu li ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  padding: 20%;
  transform: rotate(calc(360deg / -7 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: var(--dark-blue);
  transition: 0.5s;
}

.menu li ion-icon:hover {
  color: var(--light-blue);
}

.box {
  display: none;
}

li:hover .box {
  display: block;
  position: absolute;
  top: 0;
  left: -150%;
  width: 490px;
  height: auto;
  transition: 0.5s;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  transform: rotate(calc(360deg / -7 * var(--i)));
}

#my-story {
  z-index: 10;
}

#my-story .box {
  position: absolute;
  top: -150%;
}

#info-par {
  color: var(--dark-blue);
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: justify;
  padding: 3%;
  letter-spacing: 0.5px;
  white-space: pre-line;
}

.box h3 {
  color: var(--dark-blue);
  padding-left: 3%;
  padding-top: 3%;
}

@media only screen and (min-device-width: 1366px) {
  .toggle {
    width: 200px;
    height: 200px;
    border: 2px solid var(--dark-blue);
  }

  .menu {
    width: 650px;
    height: 650px;
    margin-bottom: 25px;
  }

  .menu li {
    transform-origin: 350px;
    left: -125%;
  }
}

@media (max-width: 1280px) {
  .menu {
    margin-top: 40%;
  }

  .menu li {
    transform-origin: 350px;
    left: -95%;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .menu {
    width: 600px;
    height: 600px;
    margin-top: 5%;
  }

  .toggle {
    width: 190px;
    height: 190px;
    border: 3px solid var(--dark-blue);
  }

  .menu li {
    transform-origin: 300px;
    left: -115%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .toggle {
    width: 170px;
    height: 170px;
    border: 3px solid var(--dark-blue);
  }

  .menu {
    width: 600px;
    height: 600px;
    margin-top: 5%;
  }

  .menu li {
    transform-origin: 300px;
    left: -126%;
  }

  .menu li ion-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .toggle {
    width: 170px;
    height: 170px;
    border: 3px solid var(--dark-blue);
  }

  .menu {
    width: 570px;
    height: 570px;
    margin-top: 3%;
  }

  .menu li {
    transform-origin: 280px;
    left: -115%;
  }

  .menu li ion-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 534px) and (max-height: 854px) {
  .about-me {
    width: 100vw;
  }

  #menu {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 90vw;
    margin-top: 3%;
    border-radius: 15px;
  }

  .box {
    display: block;
    margin: 30px auto;
    border: 1px solid var(--light-blue);
    border-radius: 15px;
  }

  #info-par {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .about-me {
    width: 100%;
    margin: 0 auto;
  }

  .menu-container {
    height: auto;
    margin: 5% auto;
    width: 100%;
    padding-right: 15%;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 90vw;
    margin-top: 3%;
    margin-left: 18%;
    border-radius: 15px;
  }

  .box {
    display: block;
    margin: 30px auto;
    border: 1px solid var(--light-blue);
    border-radius: 15px;
  }

  #menu {
    display: none;
  }

  #info-par {
    font-size: 14px;
  }
}

@media (max-width: 414px) and (max-height: 896px) {
  .mobile {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 80vw;
    margin-top: 3%;
    border-radius: 15px;
  }

  #info-par {
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 667px) and (max-device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .menu-container {
    padding: 0;
  }

  .toggle {
    width: 135px;
    height: 135px;
    border: 2px solid var(--dark-blue);
  }

  .menu {
    width: 490px;
    height: 490px;
  }

  .menu li {
    transform-origin: 230px;
    left: -130%;
  }

  .menu li ion-icon {
    width: 40px;
    height: 40px;
  }

  .action {
    padding: 5px 10px;
  }

  ion-icon:hover + .box,
  .box:hover {
    top: -120%;
    width: 350px;
    height: 250px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .menu-container {
    height: auto;
    margin: 5% auto;
    padding: 0 10px 0 0;
    width: 375px;
  }

  .mobile {
    display: block;
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    margin-right: 2%;
    padding: 0;
  }

  .box {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .menu-container {
    height: auto;
    padding: 0;
    margin: 2% 0 10% 0;
  }

  .mobile {
    display: block;
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    margin-right: 5%;
    padding: 0;
  }

  .box {
    display: block;
    margin-bottom: 30px;
  }
}
