.home-content-btn {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: darkorchid;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 500;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  padding-left: 110px;
  margin: 2% auto;
}

.card-container .card {
  position: relative;
  width: 70%;
  height: 400px;
  display: flex;
  transition: 0.5s;
  justify-content: flex-start;
  align-items: center;
}

.card-container .card img {
  position: absolute;
  bottom: 0;
  left: 75%;
  transform: translateX(-60%);
  height: 350px;
  transition: 0.5s;
}

.card-container .card:hover img {
  left: 80%;
  height: 450px;
}

.card-content {
  position: relative;
  width: 50%;
  left: 10%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
}

.card-content:hover {
  left: 0;
}

.card-content h2 {
  color: darkorchid;
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1em;
  margin-bottom: 20px;
}

.card-content p {
  color: #fff;
}

/* start: media queries */
@media (max-width: 1280px) {
  .card-container {
    display: block;
    width: 60vw;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .card-container .card {
    width: 100%;
    padding: 0;
    text-align: justify;
  }

  .card-content {
    width: 80%;
    padding: 20px 20px 20px 0;
  }

  .card-content p {
    margin: 5% 0;
  }

  .card-container .card img {
    display: none;
  }

  .card-content h2 {
    font-size: 2em;
  }

  .home-content-btn {
    font-size: 1em;
  }
}
/* end: 1280px */

@media (min-width: 993px) and (max-width: 1024px) {
  .card-container {
    width: 60%;
    padding: 0;
    margin-bottom: 30px;
  }

  .card-content {
    padding: 0;
  }

  .card-content:hover {
    left: 10%;
  }

  .card-content h2 {
    font-size: 22px;
  }

  .home-content-btn {
    padding: 10px 12px;
  }
}
/* end: 1024px */

/* start: 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .card-container {
    width: 60%;
    margin-bottom: 30px;
  }

  .card-content {
    padding: 0;
  }

  .card-content:hover {
    left: 10%;
  }

  .card-content h2 {
    font-size: 22px;
  }

  .home-content-btn {
    padding: 10px 12px;
  }
}

@media (max-width: 991px) {
  .card-container .card {
    width: auto;
    max-width: 600px;
    align-items: flex-start;
  }

  .card-container .card:hover {
    height: 600px;
  }

  .card-container .card:hover img {
    left: 50%;
    height: 350px;
  }

  .card-content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .card-container {
    flex-direction: column;
  }

  .card-container .card {
    margin: 40px 20px;
  }
}

/*start 768px */
@media (max-width: 768px) {
  .card-container {
    width: 80%;
    height: 350px;
  }

  .card-content h2 {
    font-size: 22px;
  }
}

/* start: 500px */
@media (max-width: 500px) {
  .card-container {
    width: 90%;
    height: 250px;
    padding: 0;
  }

  .card-container .card {
    margin: 0;
    height: auto;
  }

  .card-content h2 {
    font-size: 18px;
  }

  .card-content p {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .card-container .card .card-content {
    padding: 30px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .card-container {
    width: 80%;
    height: 300px;
    padding: 0;
    margin-left: 10%;
  }

  .card-container .card {
    height: auto;
  }

  .card-container .card .card-content {
    padding: 20px;
  }

  .home-content-btn {
    padding: 5px 15px;
    margin-left: 50%;
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .card-container {
    width: 80%;
    height: 250px;
    padding: 0;
    margin-left: 20px;
  }

  .card-container .card .card-content {
    padding: 40px;
  }

  .home-content-btn {
    padding: 5px 10px;
    margin-left: 15px;
    font-size: 12px;
  }
}

/* start: 360px */
@media (max-width: 360px) {
  .home-content-btn {
    padding: 5px 12px;
    margin-left: 25px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .home-content-btn {
    padding: 5px 10px;
    margin-left: 25px;
    font-size: 12px;
  }
}
