.list-content {
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.5s;
}

.list-content:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateX(10px) translateY(-5px);
  display: block;
}

.show-me {
  padding: 15px;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .list-content {
    padding: 30px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .show-me {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .show-me {
    padding: 10px;
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .list {
    width: 90%;
  }

  .list-content {
    padding: 10px;
    width: 90%;
  }

  .show-me {
    padding: 10px;
    font-size: 12px;
  }
}
