.projects-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin: 3% 0;
}

@media (max-width: 1280px) {
  .group {
    padding: 0;
    height: auto;
  }

  .projects-title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .group {
    width: 100vw;
    padding-left: 10%;
    margin: 0 auto;
    height: auto;
  }

  .projects-title {
    font-size: 25px;
    padding-right: 10%;
  }
}

@media (max-width: 534px) {
  .group {
    width: 100vw;
    margin-top: 5%;
    height: auto;
  }
}

@media (max-width: 534px) and (max-height: 854px) {
  .projects-title {
    margin: 5% auto;
  }
}
