.projects-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin: 3% 0;
}

/* start: media queries */
@media (max-width: 1280px) {
  .group {
    padding: 0;
    height: auto;
  }

  .projects-title {
    font-size: 30px;
  }
}
/* end: 1280px */

/*start 768px */
@media (max-width: 768px) {
  .projects-title {
    font-size: 25px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  
}
