.content {
  transform: translateX(-100px);
  width: 70%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
  margin: 3% 0;
}

.content h2 {
  font-size: 2em;
  color: darkorchid;
}

.content p {
  font-size: 1.2em;
  color: darkorchid;
}

.content .home-content-btn {
  display: inline-block;
  padding: 15px 30px;
  background: #fff;
  color: darkorchid;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 500;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* start: media queries */
@media (max-width: 1280px) {
  .content {
    transform: translateX(-80px);
    max-width: 80%;
    padding-left: 80px;
  }

  .content h2 {
    font-size: 1.5em;
  }

  .content p {
    font-size: 0.9em;
    text-align: justify;
  }
}
/* end: 1280px */

@media (min-width: 993px) and (max-width: 1024px) {
  .content {
    transform: translateX(-80px);
    max-width: 90%;
    padding-left: 60px;
  }
}
/* end: 1024px */

/* start: 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .content {
    transform: translateX(-90px);
    max-width: 80%;
    padding-left: 55px;
  }
}

/*start 768px */
@media (max-width: 768px) {
  .content {
    transform: translateX(-80px);
    max-width: 100%;
    padding-left: 60px;
    margin-bottom: 20px;
  }

  .content h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .content p {
    font-size: 0.9em;
  }
}

/* start: 500px */
@media (max-width: 500px) {
  .content {
    transform: translateX(-70px);
    width: 100%;
    height: auto;
    padding-left: 45px;
    margin-bottom: 35px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .content {
    transform: translateX(-30px);
    width: 60%;
    padding: 20px;
    margin: 0 0 3% 0;
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .content {
    transform: translateX(-30px);
    width: 80vw;
    height: auto;
    padding: 20px;
    margin: 22% 0 5% 0;
  }

  .content p {
    font-size: 11px;
    padding-left: 15px;
  }

  .content h2 {
    font-size: 16px;
    padding-left: 25px;
  }
}

/* start: 360px */
@media (max-width: 360px) {
  .content {
    transform: translateX(-10px);
    width: 325px;
    padding: 20px;
    margin: 40% 0 13% 0;
  }

  .content p {
    font-size: 11px;
    padding-left: 15px;
  }

  .content h2 {
    font-size: 16px;
    padding-left: 25px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content {
    transform: translateX(-10px);
    width: 315px;
    padding: 15px;
    margin: 30% 0 15% 0;
  }

  .content h2 {
    font-size: 14px;
    padding-left: 15px;
  }
}
