.image-box img {
  max-width: 500px;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(100px);
  }
}

/* start: 1024px */
@media (min-width: 993px) and (max-width: 1024px) {
  .image-box img {
    max-width: 300px;
  }
}

/* start: 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .image-box img {
    max-width: 250px;
  }
}

/*start 768px */
@media (max-width: 768px) {
  .image-box img {
    max-width: 260px;
    margin-top: 0;
  }

  @keyframes animate {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(40px);
    }
  }
}


/* start: 360px */
@media (max-width: 360px) {
  .image-box img {
    max-width: 200px;
    margin-top: 0;
  }

  @keyframes animate {
    0%,
    100% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(20px);
    }
  }
}
